<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-7">
            <h4 class="card-title">Lista de Delegados</h4>
          </div>
          <div class="col-5 me-2">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Buscar...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="table-responsive table-hover" style="overflow-x: hidden !important; scrollbar-width: none; max-height:27rem;">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Seccional
              </th>
              <th>
                Nombre
              </th>
             
            </thead>
            <tbody>
              <tr>
                <td>
                  San Isidro
                </td>
                <td>
                   <i class="fa fa-user" aria-hidden="true" style="color: rgb(38, 94, 214);"></i> Emilia Vargas
                </td>
              
              </tr>
              <tr>
                <td>
                  San Isidro
                </td>
                <td>
                  <i class="fa fa-user-plus" aria-hidden="true" style="color: rgb(40, 182, 70);"></i> Juan Pedro Martinez
                </td>
              </tr>
              <tr>
                <td>
                  San Isidro
                </td>
                <td>
                  <i class="fa fa-user-plus" aria-hidden="true" style="color: rgb(40, 182, 70);"></i> Mario Vindas
                </td>
              </tr>
              <tr>
                <td>
                  Pejibaye
                </td>
                <td>
                  <i class="fa fa-user" aria-hidden="true" style="color: rgb(38, 94, 214);"></i> Emilia Vargas
                </td>
               
              </tr>
              <tr >
                <td>
                  Pejibaye
                </td>
                <td>
                  <i class="fa fa-user-plus" aria-hidden="true" style="color: rgb(40, 182, 70);"></i> Juan Pedro Martinez
                </td>
              </tr>
              <tr >
                <td>
                  Pejibaye
                </td>
                <td>
                  <i class="fa fa-user-plus" aria-hidden="true" style="color: rgb(40, 182, 70);"></i> Mario Vindas
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
     
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Datos Personales</h5>
      </div>
      <div class="card-body">
        <form>
       
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Nombres</label>
                <input type="text" class="form-control" >
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Primer Apellido </label>
                <input type="text" class="form-control" >
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Segundo Apellido</label>
                <input type="text" class="form-control" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Cédula</label>
                <input type="text" class="form-control" >
              </div>
            </div>
            <div class="col-md-8 pl-1">
              <div class="form-group">
                <label>Seccional</label>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Buscar...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Rol</label>
                <select class="custom-select" id="inputGroupSelect01">
                  
                  <option selected value="1">Propietario</option>
                  <option value="2">Suplente</option>
                </select>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Divición de Roles por Seccional</label>
                <textarea
                  class="form-control textarea" disabled [value]="'- Cantidad de Propietario: 1 \n- Cantidad de Suplentes: 2'"></textarea>
                  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>