<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <h4 class="card-title">Lista de Seccionales</h4>
        </div>
        <div class="col-4 me-2">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Buscar...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="nc-icon nc-zoom-split"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="table-responsive" style="overflow-x: hidden !important; scrollbar-width: none; max-height:20rem;">
        <table class="table"  >
          <thead class=" text-primary">
            <th>
              Nombre
            </th>
            <th>
              Cant. Personas
            </th>
            <th class="text-center">
              Operaciones
            </th>

          </thead>
          <tbody>
            <tr>
              <td>
                San Isidro
              </td>
              <td>
                1000
              </td>
              <td class="text-center">
                <div>
                  <div>
                    <button type="submit" class="btn btn-warning btn-round m-1"><i class="fa fa-pencil fa-2x"
                        aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger btn-round m-1" (click)="delete()"><i class="fa fa-trash fa-2x"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

            </tr>
            <tr>
              <td>
                San Isidro
              </td>
              <td>
                1000
              </td>
              <td class="text-center">
                <div>
                  <div>
                    <button type="submit" class="btn btn-warning btn-round m-1"><i class="fa fa-pencil fa-2x"
                        aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger btn-round m-1"><i class="fa fa-trash fa-2x"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

            </tr>

            <tr>
              <td>
                San Isidro
              </td>
              <td>
                1000
              </td>
              <td class="text-center">
                <div>
                  <div>
                    <button type="submit" class="btn btn-warning btn-round m-1"><i class="fa fa-pencil fa-2x"
                        aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger btn-round m-1"><i class="fa fa-trash fa-2x"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

            </tr>

            <tr>
              <td>
                San Isidro
              </td>
              <td>
                1000
              </td>
              <td class="text-center">
                <div>
                  <div>
                    <button type="submit" class="btn btn-warning btn-round m-1"><i class="fa fa-pencil fa-2x"
                        aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger btn-round m-1"><i class="fa fa-trash fa-2x"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

            </tr>

            <tr>
              <td>
                San Isidro
              </td>
              <td>
                1000
              </td>
              <td class="text-center">
                <div>
                  <div>
                    <button type="submit" class="btn btn-warning btn-round m-1"><i class="fa fa-pencil fa-2x"
                        aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger btn-round m-1"><i class="fa fa-trash fa-2x"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

            </tr>

            <tr>
              <td>
                San Isidro
              </td>
              <td>
                1000
              </td>
              <td class="text-center">
                <div>
                  <div>
                    <button type="submit" class="btn btn-warning btn-round m-1"><i class="fa fa-pencil fa-2x"
                        aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger btn-round m-1"><i class="fa fa-trash fa-2x"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

            </tr>

            <tr>
              <td>
                San Isidro
              </td>
              <td>
                1000
              </td>
              <td class="text-center">
                <div>
                  <div>
                    <button type="submit" class="btn btn-warning btn-round m-1"><i class="fa fa-pencil fa-2x"
                        aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger btn-round m-1"><i class="fa fa-trash fa-2x"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

            </tr>

            <tr>
              <td>
                San Isidro
              </td>
              <td>
                1000
              </td>
              <td class="text-center">
                <div>
                  <div>
                    <button type="submit" class="btn btn-warning btn-round m-1"><i class="fa fa-pencil fa-2x"
                        aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-danger btn-round m-1"><i class="fa fa-trash fa-2x"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

            </tr>

          </tbody>
        </table>

      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary btn-round p-3 m-4" (click)="add()"> Agregar Nueva Seccional </button>
        </div>
    </div>
  </div>
</div>


